name: Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [published]

jobs:
  tests:
    name: "py${{ matrix.python-version }}; ${{ matrix.arviz-version }}"
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9"]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install ".[test,arviz]"
        env:
          ARVIZ: ${{ matrix.arviz-version }}

      - name: Run the unit tests
        run: python -m pytest -v tests

      - uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: images-${{ matrix.python-version }}
          path: ./result_images

  build:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: "3.9"

      - name: Build
        run: |
          python -m pip install -U pip
          python -m pip install -U build
          python -m build .

      - name: Check the artifacts
        run: |
          python -m pip install -U twine
          python -m twine check dist/*

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*

  upload_pypi:
    needs: [tests, build]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
          # To test: repository_url: https://test.pypi.org/legacy/
