name: Tests

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.9", "3.10", "3.11"]
        nox-session: ["tests"]
        include:
          - os: macos-latest
            python-version: "3.10"
            nox-session: "tests"
          - os: ubuntu-latest
            python-version: "3.10"
            nox-session: "lint"

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0
      - name: Configure Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache pre-commit environments
        if: ${{ matrix.nox-session == 'lint' }}
        uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pre-commit-
      - name: Install nox
        run: |
          python -m pip install -U pip
          python -m pip install -U nox
      - name: Run tests
        run: python -m nox --non-interactive -s ${{ matrix.nox-session }}
      - name: Upload generated images on failure
        uses: actions/upload-artifact@v3
        if: ${{ failure() && matrix.nox-session == 'tests' }}
        with:
          name: images-${{ matrix.os }}-${{ matrix.python-version }}
          path: ./result_images

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: "3.10"
      - name: Build sdist and wheel
        run: |
          python -m pip install -U pip
          python -m pip install -U build
          python -m build .
      - uses: actions/upload-artifact@v3
        with:
          path: dist/*

  upload_pypi:
    needs: [tests, build]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.8.4
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
